@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Filter</title>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Ласкаво просимо</h1>
    <p class="fun-fact">Цікавий факт: Першим програмістом була жінка. Ада Лавлейс написала перший в світі алгоритм машини для ранньої обчислювальної машини, яка існувала лише на папері.</p>
    <p class="log-info">Дані журналу успішно збережено!</p>
</div>
</body>
</html>